/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #e85112;
  --ion-color-primary-rgb: 232, 81, 18;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #d14910;
  --ion-color-primary-tint: #ea622a;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** background medium **/
  --ion-color-bgm: #535569;
  --ion-color-bgm-rgb: 83, 85, 105;
  --ion-color-bgm-contrast: #ffffff;
  --ion-color-bgm-contrast-rgb: 255, 255, 255;
  --ion-color-bgm-shade: #4b4d5f;
  --ion-color-bgm-tint: #646678;

  /** background light **/
  --ion-color-bgl: #6f718a;
  --ion-color-bgl-rgb: 111, 113, 138;
  --ion-color-bgl-contrast: #ffffff;
  --ion-color-bgl-contrast-rgb: 255, 255, 255;
  --ion-color-bgl-shade: #64667c;
  --ion-color-bgl-tint: #7d7f96;

  /** background dark **/
  --ion-color-bgd: #353546;
  --ion-color-bgd-rgb: 53, 53, 70;
  --ion-color-bgd-contrast: #ffffff;
  --ion-color-bgd-contrast-rgb: 255, 255, 255;
  --ion-color-bgd-shade: #30303f;
  --ion-color-bgd-tint: #494959;
}

body {
  --ion-background-color: #353541;
  --ion-background-color-rgb: 83, 85, 105;
}

.toolbar {
  --background: #1f1f27;
  --color: #ffffff;
}

/*General*/
.icon-primary {
  color: #e85112;
}

.text-primary {
  color: #e85112;
}

.text-white {
  color: #ffffff;
}

ion-button:active {
  background-color: none;
}

div {
  color: #ffffff !important;
}

h1 {
  color: #ffffff;
}

h2 {
  color: #ffffff;
}

h3 {
  color: #ffffff;
}

h4 {
  color: #ffffff;
}

p {
  color: #ffffff;
}

span {
  color: #e85112;
}

.retro-text {
  font-family: "RetroGaming";
  color: #ffffff;
  font-size: x-large !important;
  padding: 0.4rem !important;
}

.white-imp {
  color: #ffffff !important;
}

/*ProductCard component*/
.card {
  background-color: #2d2d36;
}

.link {
  font-size: 1rem !important;
}

/**** Positioning ****/
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/****** Margins ******/
.margin-0 {
  margin: 0;
}

/* Top */
.mt-1 {
  margin-top: 1rem;
}

.mt-5 {
  margin-top: 5rem;
}

/* Bottom */
.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

/* Right */
.mr-2 {
  margin-right: 2rem;
}

.mr-10 {
  margin-right: 10.5rem;
}

/* Left */
.ml-0 {
  margin-left: 0;
}

.ml-03 {
  margin-left: 0.3rem;
}

.ml-07 {
  margin-left: 0.7rem;
}

/* Vertical */
.margin-vertical-1 {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}

.margin-vertical-103 {
  margin-left: 1.3rem !important;
  margin-right: 1.3rem !important;
}

/**** LoadingSpinner component ****/
.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5rem;
  height: 5rem;
  z-index: 10;
}

.bg-loading {
  background-color: #131313;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  z-index: 10;
  position: absolute;
  top: 0;
}

/**** TabBar ****/
.flex {
  display: flex;
}

.tabbar-grid {
  padding: 0;
}

.tabbar {
  background-color: #1f1f27;
  opacity: 0.95;
}

.col {
  justify-items: center !important;
  align-items: center !important;
  text-align: center;
  padding-bottom: 1rem !important;
  padding-top: 0.5rem !important;
}

/**** Authentication Page *****/
.text-deco-none {
  text-decoration: none !important;
}

.login-img {
  width: 7rem;
  height: auto;
  margin-top: 1rem;
}

.secondary-btn {
  text-decoration: underline;
  color: #ffffff;
}

/**** Details Page ****/

.space-between {
  justify-content: space-between;
}

.white-txt {
  color: #ffffff !important;
}

.normal-text {
  font-size: 1.1rem !important;
}

.white {
  color: #ffffff;
}

/**** Landing Page ****/

.text-center {
  text-align: center;
}

.img-div {
  width: 100%;
  height: 100%;
}

.bg-img {
  filter: blur(0.2rem) grayscale(0.6);
  object-fit: fill;
  width: 100%;
  height: 100%;
  opacity: 0.2;
}

.title {
  font-size: 2.5rem;
  font-family: "RetroGaming";
  z-index: 10;
  color: #ffffff !important;
}

.center-pos {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-btn {
  display: flex;
  flex-direction: column;
}

.button-container {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/**** New Page ****/
.remove-image-preview-btn {
  position: relative;
  left: 60%;
}

.image-container {
  margin-bottom: 2rem;
}

.image-preview {
  border-radius: 10px;
}

.image-picker {
  height: 20vh;
  margin: 10px;
  border: 2px #535569 dashed;
  background-color: #535569;
  font-size: medium;
  color: #ffffff;
  border-radius: 10px;
}

ion-item {
  margin-top: 1rem !important;
  margin-right: 1.5rem !important;
}

/**** Profile Page ****/
.profile-avatar {
  width: 10rem !important;
  height: 10rem !important;
  margin-bottom: 2rem;
}

.profile-name {
  color: #e85112 !important;
  margin: 0 !important;
}

.container {
  flex-direction: column;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
